@import '../../variables';

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(248 250 252);
  border-top: 2px solid rgb(233, 233, 233);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;

  a {
    color: $light-color;
    display: flex;
    justify-content: center;
    align-items: middle;
    line-height: 2.5rem;
    text-decoration: none;
  }

  img {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 2.5rem;
    opacity: 0.2;

    &:hover {
      opacity: 1;
    }
  }
}
